<html>
  <head>
    <title>Contact Manny</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Play" />
  </head>
  <body>
    <ul>
      <li><a href="https://github.com/sarampau">Github</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/">Home</a></li>
    </ul>
    <div class="thanks">
      <h3>Get in touch</h3>
      <h6>Enter contact info</h6>
    </div>
    <div class="contact">
      <form action="/thanks" method="POST">
        <input id="firstName" name="firstName" type="text" placeholder="First Name"/>

        <input id="lastName" name="lastName" type="text" placeholder="Last Name"/>

        <input id="email" name="email" type="text"/ placeholder="email">

        <input class="button" type="submit"/>
      </form>
    </div>
  </body>
</html>