<html>
  <head>
    <title>Manny's Portfolio</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Play" />
  </head>
  <body>
    <ul>
      <li><a href="https://github.com/sarampau">Github</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/">Home</a></li>
    </ul>
    <h1 class="hello">
      Hello, I'm Manny.
    </h1>
    <h4>I am a software developer from San Diego, CA.</h4>
    <p>Welcome to my universe!</p>
  </body>
</html>