<html>
  <head>
    <title>Manny's Portfolio</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Play" />
  </head>
  <body>
    <ul>
      <li><a href="https://github.com/sarampau">Github</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/">Home</a></li>
    </ul>
    <h1 class="stuff">Some stuff I've worked on</h1>
    <div class="projects">
      <a href="https://mc-mortgage-calculator.herokuapp.com/">Mortgage Calculator</a><br/>
      <a href="https://mc-startnow-change-calculator.herokuapp.com/">Change Calculator</a><br/>
      <a href="https://mc-san-diego-top-spots.herokuapp.com/">San Diego Top Spots</a><br/>
      <a href="https://mc-vstda.herokuapp.com/">Very Simple ToDo App</a><br/>
      <a href="https://mc-hackathon.herokuapp.com/">Hackathon</a>
    </div>
  </body>
</html>