<html>
  <head>
    <title>Manny Thanks You</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Play" />
  </head>
  <body>
    <ul>
      <li><a href="https://github.com/sarampau">Github</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/">Home</a></li>
    </ul>
    <div class="thanks" style="margin-top: 200px">
      Thank you <%= contact.firstName %> <%= contact.lastName %>
    </div>
    <div class="thanks" style="margin-top: 50px">
      Have a nice day!
    </div>
  </body>
</html>